{% extends 'base.html' %}<!--bu yerda extends orqali basehtml fayldan nasl olamiza-->

{% block title %}
    bosh sahifa
{% endblock %}
 
{% block body %}
<div class="carusel">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/css/header.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/css/header.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/css/header.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<!--end carousel-->


<!--header-->
<div class="header">
  <div class="row justify-content-md-center">
    <div class="col col-md-2">
      <h1>About us</h1>
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Даль свое домах страну бросил ipsum дорогу несколько то взобравшись переписали парадигматическая, оксмокс свой снова ведущими, приставка свою буквоград агентство предложения щеке, диких даже последний на берегу дороге гор которое. Эта приставка но вершину назад рыбными возвращайся маленькая на берегу вдали, все текста обеспечивает рукописи то снова вскоре, что своего, скатился инициал! Дороге текста, по всей родного над заголовок дал силуэт сбить решила домах вопрос составитель выйти своих вопроса пояс себя семантика сих мир ручеек свой раз даль рукописи скатился. Она буквенных живет текстами злых подпоясал вопроса вершину!
    </div>
    <div class="col col-md-4">
      <img src="https://image.freepik.com/free-vector/hot-drink-paper-cup-with-mockup-sleeve-vector_53876-62039.jpg" alt=""   height="500px">
    </div>
    <div class="col col-md-2">
      <h1>About us</h1>
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Даль свое домах страну бросил ipsum дорогу несколько то взобравшись переписали парадигматическая, оксмокс свой снова ведущими, приставка свою буквоград агентство предложения щеке, диких даже последний на берегу дороге гор которое. Эта приставка но вершину назад рыбными возвращайся маленькая на берегу вдали, все текста обеспечивает рукописи то снова вскоре, что своего, скатился инициал! Дороге текста, по всей родного над заголовок дал силуэт сбить решила домах вопрос составитель выйти своих вопроса пояс себя семантика сих мир ручеек свой раз даль рукописи скатился. Она буквенных живет текстами злых подпоясал вопроса вершину!
    </div>
 </div>
</div>
<!--end header-->


<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Engaging Background Images</h2>
                <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
            </div>
        </div>
    </div>
</section>
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
{% endblock %}

